/* ESTILOS GENERALES */
* {
	margin: 0;
	font-family: Verdana, Sansserif;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100vh;
	width: 100vw;
	background-color: rgb(0,0,0);
}

input[type="range"] {
	cursor: pointer;	
}

/* CONTENEDOR DE COLORES*/
.colors-container {
	width: 50vh;
	max-width: 600px;
	min-height: 350px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 1em;
}

/*CONTENEDOR DE CADA COLOR*/
.color-container {
	display: flex;
	justify-content: space-between;
	padding: 1em 2em;
	width: 100%;
}

/*INPUTS DE COLORES*/
#color-rojo {
	accent-color:red;
}

 #color-verde {
 	accent-color: green;
 }

 #color-azul {
 	accent-color: blue;
 }